* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body, input, button, textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: radial-gradient( circle farthest-corner at 83.7% 4.3%,  rgba(173,0,171,1) 0%, rgba(15,51,92,1) 90% );
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: filter 200ms;
}

button:hover {
  filter: brightness(0.8);
}

h1 {
  width: 600px;
  text-align: center;
}

p {
  margin-bottom: 48px;
}

.box {
  padding: 16px;
  width: 500px;
  border: 2px solid #fff;
  border-radius: 8px;
}

#importButton {
  background-color: #2CEAA3;
}

#exportButton {
  background-color: #92BCEA;
}

form {
  margin-top: 24px;
}

input {
  display: block;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

input::placeholder {
  color: rgb(255, 255, 255, 0.6);
}

input + input {
  margin-top: 8px;
}

input#fileSelector {
  display: none;
}